In [1]:
from sklearn.datasets import fetch_20newsgroups

In [4]:
# Cargar el Data Set
noticias_2gpos = fetch_20newsgroups(categories=['rec.sport.baseball', 'rec.autos'])

In [5]:
type(noticias_2gpos)

sklearn.utils._bunch.Bunch

In [8]:
len(noticias_2gpos.data)

1191

In [7]:
noticias_2gpos.target

array([0, 1, 1, ..., 0, 0, 1], shape=(1191,))

In [9]:
X = noticias_2gpos.data
y = noticias_2gpos.target

In [10]:
print(len(X), len(y))

1191 1191

In [11]:
from pandas import DataFrame

In [12]:
df = DataFrame(
    {"Noticia": X,
     "Etiqueta": y}
)

In [13]:
df.head()

                                             Noticia  Etiqueta
0  From: bob1@cos.com (Bob Blackshaw)\nSubject: R...         0
1  From: krattige@hpcc01.corp.hp.com (Kim Krattig...         1
2  From: gspira@nyx.cs.du.edu (Greg Spira)\nSubje...         1
3  From: fester@island.COM (Mike Fester)\nSubject...         1
4  From: ez027993@dale.ucdavis.edu (Gary The Burg...         1

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizador = TfidfVectorizer()
X_vect = vectorizador.fit_transform(df.Noticia)

In [15]:
X_vect

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 164027 stored elements and shape (1191, 18391)>