In [1]:
d1 = "gato come pescado"
d2 = "perro come carne"
d3 = "gato y perro son animales"
D = [d1, d2, d3]
D = [d.split() for d in D]
Docs = [" ".join(d) for d in D]

In [2]:
D

[['gato', 'come', 'pescado'],
 ['perro', 'come', 'carne'],
 ['gato', 'y', 'perro', 'son', 'animales']]

In [3]:
d1.split().count("perro")

0

In [4]:
def calcular_tf(term:str, doc:list):
    apariciones = doc.count(term)
    return apariciones / len(doc)

In [5]:
sum([1, 1, 1])

3

In [6]:
from math import log

In [24]:
def calcular_idf(term:str, corpus:list):
    tf = sum([1 for doc in corpus if term in doc])
    return log((1 + len(corpus)) / (1 + tf)) + 1

In [25]:
def calcular_tfidf(term:str, doc:list, corpus:list):
    tf = calcular_tf(term, doc)
    idf = calcular_idf(term, corpus)
    return tf * idf

In [9]:
t1 = "gato"

In [26]:
calcular_tf(t1, D[0])

0.3333333333333333

In [27]:
calcular_idf(t1, D)

1.2876820724517808

In [12]:
calcular_tfidf(t1, D[0], D)

0.13515503603605478

---

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(token_pattern=r"\w+", norm=None)

In [33]:
tfidf_matrix = tfidf_vectorizer.fit_transform(Docs)

In [34]:
pd.DataFrame(tfidf_vectorizer.idf_, index=vocab).T

,animales,carne,come,gato,perro,pescado,son,y
0,1.693147,1.693147,1.287682,1.287682,1.287682,1.693147,1.693147,1.693147

In [35]:
print(f"Forma de la matriz: {tfidf_matrix.shape}")

Forma de la matriz: (3, 8)

In [36]:
vocab = tfidf_vectorizer.get_feature_names_out()

print(f"Vocabulario: {vocab}")
print(f"Tamaño del vocabulario: {len(vocab)}")

Vocabulario: ['animales' 'carne' 'come' 'gato' 'perro' 'pescado' 'son' 'y']
Tamaño del vocabulario: 8

In [37]:
import pandas as pd

In [38]:
pd.DataFrame(tfidf_matrix.toarray(), columns=vocab, index=["d1", "d2", "d3"])

,animales,carne,come,gato,perro,pescado,son,y
d1,0.000000,0.000000,1.287682,1.287682,0.000000,1.693147,0.000000,0.000000
d2,0.000000,1.693147,1.287682,0.000000,1.287682,0.000000,0.000000,0.000000
d3,1.693147,0.000000,0.000000,1.287682,1.287682,0.000000,1.693147,1.693147

---

In [39]:
from sklearn.metrics.pairwise import cosine_similarity

In [41]:
similitud = cosine_similarity(tfidf_matrix)

In [44]:
tmp = ["d1", "d2", "d3"]
pd.DataFrame(similitud.round(3), index=tmp, columns=tmp)

       d1     d2     d3
d1  1.000  0.268  0.193
d2  0.268  1.000  0.193
d3  0.193  0.193  1.000